<div class="fixed w-full top-0 left-0 z-10 bg-blue-600"> 
    <nav class="flex h-16 md:h-20 items-center  dark:bg-gray-900 z-20 fixed top-0 left-0 right-0 border-b border-gray-100 px-0 py-2 dark:bg-dark dark:border-gray-800 transition-colors duration-200 bg-orange-500">
      <div class="hidden md:block space-y-4 w-full p-4">
        <a class="no-underline text-gray-600 hover:text-gray-800 font-bold dark:text-gray-500 items-center" href="/">
          <span class="text-xl">{{ site.name }}</span>
         </a>
         {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({anchorClass: "item",activeAnchorClass: "active",activeListItemClass: "active",activeKey: eleventyNavigation.key, listClass: "nav", listItemClass: "item"}) | safe }}
      </div>
      <button  aria-label="Show navigation" onclick="showNavigation()" class="block md:hidden mr-3"><svg fill="none" width="24" height="24" viewBox="0 0 24 24" class="text-gray-400 hover:text-gray-600" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg></button>
    </nav>  
    {# {% if site.navigationStyle == 'horizontal' %}
      <div class="mt-20">
      {% include "components/nav.njk" %}
      </div>
    {% endif %} #}
 </div>


  